<app-header></app-header>
<main>
  
  <div class="centered">
    <h2>ADMINISTRADORES:</h2>
    <button type="button" (click)="navigateToAdmin()">Consola de mantenimiento</button>
  </div>
  
  <div class="centered">
    <h2>Ya tienes tus entradas con nosotros ? Inicia sesión</h2>
    <form>
        <label for="nombre">Nombre de usuario: </label> 
        <input type="text" id="nombre" name="nombre">
        <p></p> 
  
        <label for="passwd">Contraseña: </label>  
        <input type="password" id="passwd" name="passwd">
        <p></p>
  
        <label for="idCompra">ID de Compra: </label>     
        <input type="text" id="idCompra" name="idCompra" required #idCompra>
        
        <p></p>
        <button type="button" (click)="login(idCompra.value)">Iniciar Sesión</button>
      </form>
  </div>
 
  
      <h2>Conciertos Disponibles</h2>
      <div class="concert" *ngFor="let concierto of conciertos">
        <img [src]="concierto.URLImage">
        <h3>{{ concierto.Nombre }}</h3>
        <p>{{ concierto.Fecha }}</p>
        <p>{{ concierto.Lugar }}<p>
        <button type="button" (click)="navigateToVentaEntradas(concierto.Nombre)">Continuar</button>
      </div>  
  </main>
  